*{
    margin: 0;
}

.header_section{
    width: 100%;
    height: 70vh;
    background-color: #FF4C68;
}
.header_inner{
    padding: 5% 10% ;
 
}
nav{
    display: flex;
    width: 100%;
    color: aliceblue;
    justify-content: space-between;
    text-align: center;

}
.tindog{
    font-size: 50px;
}
.nav_tittles{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav_tittles_inner{
    font-size: 1.1rem;
    font-weight: bolder;
    justify-content: space-around;
    padding-inline-end: 20%;
}
.header_main{
    display: flex;
    height: 10rem;
}
.header_left{ 
    flex: 0.5;
    display: flex;
    flex-direction: column;
    margin: 2.5rem;
}
.header_rigth{
    flex: 0.5;
   align-items: center;

}
.header_rigth img{
    position: relative;
    left: 20px;
    height: 410px;
    width: 40%;
    transform: rotate(20deg);
}
.landing_text{
    margin-top: 10px;
    font-size: 45px;
    color: white;
    font-weight:bolder;
}
.button{
    margin-top: 5%;
    display: flex;
    
}

.apple_button{
    justify-content: space-between;
    background-color: black;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    padding: 10px 15px;
}
.apple_button:hover{
    cursor: pointer;
     opacity: 0.7;
    color: rgb(246, 246, 246);
}
.android_button{
    background-color: white;
    margin-left: 20px;
    border-radius: 10px  ;
    color: rgb(9, 9, 9);
    font-size: 1.2rem;
    padding: 10px 15px;
    justify-content: space-around;

}
.android_button:hover{
    cursor: pointer;
     opacity: 0.7;
    color: rgb(246, 246, 246);
}
.details_easy{
    position: relative;
}

.highlights{
    display: grid;
    grid-template-columns: repeat(3,auto);
    height: 60vh;
    align-items: center;
    
    margin: 0% 10%;
    background-color: white;
}
.highlights div{
  
    justify-content: space-between;
    font-size: large;
    text-align: center;
}
.highlights i{
    margin: 20px;
    font-size: 8vh;
    color: #EF8172;
}
.highlights p{
    text-align: center;
    margin-top: 10px;
    opacity: 0.8;
}
.I_no_longer{
    height: 70vh;
    background-color: #EF8172;
}
.press{
    display: flex;
    align-items: center;
    justify-content: center;
}
.press img{
    height: 60px;
    width: fit-content;
    margin: 10px 20px;
}
.a_plan_for{
    background-color:;
    height: 55vh;
    padding: 20px;
    text-align: center;
}
.a_plan_for_h{
    padding: 8px;
    background-color:  rgb(250, 249, 249);
}
.word{
    display: flex;
    margin: 10px;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
}

.subscription{
    align-items: center;
    margin-top: 50px;
    display: grid;
    grid-template-columns:repeat(3,auto);

}
.subscription div{
   justify-content: space-around;
    align-items: center;
    margin: 10px 120px;
    padding: 20px 20px;
    border: #a19d9e solid 2px;
    border-radius: 10px;
   
}
.subscription_details{
   
    border: #FF4C68;
    
    text-align: center;
    

}
.subscription_details h2{
    color: rgb(0, 10, 10);
    width: 100%;
}
.subscription h1{
    padding: 10px;
    color: #dd3b63;
}
.subscription p{
    margin: 10px;
    color: #a19d9e;
}
.subscription_details button{
   
    margin-top: 10px;
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    width: 90%;
    height: 40px;
    background-color: black;
    cursor: pointer;
   
}

.last_2_section{
    height: 40vh;
    background-color: #FF4C68;
    padding-top: 5%;
    font-size: xx-large;
    color: aliceblue;
    text-align: center;
    justify-items: center;
}
.last_2_section div{
    justify-content: center;
}
.last_section{
    display: flex;
   height: 20vh;
   align-items: center;
   justify-content: center;
}
.last_section i{
    padding: 20px;
    font-size:x-large;
}
.last_section:hover{
    opacity: 0.9;
    cursor: pointer;
}